GnomoriaEnhanced/GEResources/data/Professions/Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProfessionsExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ExportProperties">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DateTime" type="xs:dateTime" />
              <xs:element name="GEVersion" type="xs:string" />
              <xs:element name="GnomoriaVersion" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Professions">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Profession">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Skill">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:boolean">
                            <xs:attribute name="name" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>